*{
    background-color: #fffbf6;
    margin: 0;
}

.principal{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

img{    
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 35px;
}

h1{
    color: #ff7d12;
    font-size: 60px;
    margin-top: 55px;    
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h2{
    color: #79ae65;
    text-align: center;
}


.contact{
    color: #4d4b44;
    margin-left: 55px;
    width: 350px;
}

h3{
    background-color: #aae0ff;
    margin: 30px;
    padding: 8px;
    border-radius: 10px;
}

.titulo-rosado{
    background-color: #ffaaf0;
}

.titulo-naranja{
    background-color: #ff9c4a;
}

.titulo-verde{
    background-color: #c1dab8;
}

/*@edia(min-width: 300px){    
    .principal{
        margin: 0;
    }
    .principal div{
        margin-left: 10px;
        margin-right: 5px;
    }
    .story-script-regular{
        text-align: justify;
        font-size: 32px;
        margin-left: 35px;
        margin-top: 10px;
        
    }
    
    .principal img{
        margin-top: 55px;
        margin-left: 99px;
    }
    h2{
        margin-left: 70px;
        font-size: 18px;
    }
 
}*/

@media(max-width: 700px){    
    .principal{
        margin: 0;
    }
    .principal div{
        margin-left: 10px;
        margin-right: 5px;
    }
    .story-script-regular{
        text-align: justify;
        font-size: 32px;
        margin-left: 35px;
        margin-top: 10px;        
    }   
    h2{
        margin-left: 36px;
        font-size: 18px;
    }
 
}
